body {
  margin: 0;
  padding: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #111111;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

/* AddTodo Component */
input[type="text"],
select {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.error-message {
  color: red;
}

.add-task-button {
  padding: 0.5rem 1rem;
  background-color: #025464;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* List Component */
.todo-list li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.edit-button,
.complete-button {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #025464;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.complete-button {
  background-color: #B70900;
}

/* App Component */
.header {
  margin-bottom: 1rem;
}

.header h1 {
  margin-right: 1rem;
}
