body {
  color: rgb(28, 28, 28);
}

h1 {
  font-size: 2em;
}

.main {
  background-color: whitesmoke;
  display: flex;
  /* background-color: red */
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  min-width: 300px;
  max-width: 30vw;
  border: 1px solid black;
  border-radius: 1em;
}

.todoList {
 margin: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.15em;
}

.form {
  
}

.new-todo {
  border: 1px solid black;
  background-color: whitesmoke;
}